{{> head }}
{{> navbar }}

<div class="row my-3">

    <div class="col-8">
        <h1>Avengers</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque nulla, nisi voluptate commodi iusto corrupti cum, rem cupiditate necessitatibus dolore voluptatum aspernatur ab quidem accusamus a nostrum totam tempore harum!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/avengers.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}